.tarjetasContainer {
    width: 70%;
    margin: 0 auto;
    display: grid;
    gap: 1rem 1.3rem;
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
}

.noCoincidencias {
    margin-top: 30px;
    text-align: center;
}

@media screen and(max-width: 500px ) {
    .tarjetasContainer {
        width: 100%;
    }
}