<div class="container-fluid animate__animated animate__fadeIn">
    <header>
        <h1 class="text-center">Los Mejores Precios del Mercado</h1>
    </header>
    <div class="row">
        <div class="col-lg-6 imageCol">
            <img src="../../../../../../assets/init1.jpg" alt="ordenador pantalla alargada">
        </div>
        <div class="col-lg-6 textCol">
            <h3>Prueba Técnica</h3>
            <p>Esto es un texto de prueba</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint repellendus aut voluptates, perferendis laborum quibusdam et quas ab optio itaque, accusantium molestiae ipsam repellat expedita laudantium voluptatem unde illum architecto.</p>
            <p class="ocultar">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos repellat iusto ea ducimus qui recusandae laborum, excepturi eius assumenda, nisi, tenetur incidunt officiis nesciunt! Velit unde cupiditate repudiandae rerum numquam.</p>
            <p class="ocultar">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis est iste quibusdam quis, voluptates omnis at nobis! Dolore perferendis nostrum aspernatur? Aliquam repellat sunt minus alias facere reiciendis fuga quo cumque ducimus iure porro eos necessitatibus labore, voluptates, neque animi quas asperiores? Fugit ab nihil vero voluptates perspiciatis praesentium similique tenetur id cumque optio, ullam reprehenderit eius! Nam tenetur sequi esse doloribus magni corporis necessitatibus, labore error rem eum minima.</p>
        </div>
    </div>
    <div class="row rowReverse">
        <div class="col-lg-6 textCol">
            <h3>Tarjetas Gráficas</h3>
            <p>Siempre a la vanguardia de la tecnología, explora nuestras trajetas gráficas y descubre la últimos avanzes  tecnológicos del mercado.</p>
            <a routerLink="/graphics-cards" class="btnProducts">Ver <i class="fas fa-plus"></i></a>
        </div>
        <div class="col-lg-6 imageCol">
            <img src="../../../../../../assets/init2.jpg" alt="ordenador de mesa multicolor led">
        </div>
    </div>
</div>
